$font-family-base: "PTSans",Arial, Helvetica, sans-serif;
$font-size-base: 14px;
$font-weight-base: 400;
$line-height-base: 21px;
$body-color: #333;
$body-bg: #fff;
$dt-font-weight: 400;
$link-color: blue;
$link-decoration: underline;
$link-hover-color: black;
$link-hover-decoration: underline;
$table-cell-padding:25px;
$text-muted: #000;
$mobile-widths: "(max-width: 767px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1150px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
