.header {
    background-color: #fff;
    @include container;
    text-align: center;
    outline: 1px solid red;
}
.header__title{
	background-image: url("../img/bg-back-mobile@1x.jpg");
	width:100%;
	height:260px;
}

.header__wrapper {
    padding: 0 20px;
    margin: 0 auto;
}

.header__intro-title {
    @include header__intro-title();
}

@media #{$tablet-widths} {
    .header {
        padding-bottom: 50px;
    }
    .header__wrapper {
        max-width: 580px;
    }
    .header__intro-title {
        margin-bottom: 40px;
		padding-top: 55px;
        & br {
            display: none;
        }
    }
    .header__intro-text {
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

@media #{$desktop-widths} {
	.header{
		width: 100%;
	}
}
